*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana, Arial, sans-serif;
    background: #D4D4D4;
}
ul li {
    list-style-type: none;
}
.container{
    width: 85%;
    margin: auto;

}
#header{
    background: rgba(17, 17, 17, 0.637);
    color: white;
    padding-bottom: 40px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 10px 15px;
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
}
nav ul li a:hover{
    color: rgba(233, 188, 41, 0.377);
}
.nav-brand{
    display: flex;
    padding: 50px 10px;
    align-items: baseline;
    
}
.nav-brand h1{
    font-size: 3rem;
    line-height: 1rem;
    color: rgb(212, 204, 204);
}
.nav-brand p{
    font-size: .8rem;
    margin: 0 10px;

   
}
.nav-brand h1 > span{
    color: rgba(233, 188, 41, 0.377);
    font-weight: 100;
}
#tag-line{
    padding-bottom: 0;
    color: rgb(212, 204, 204);
}
.nav-form{
  
    margin-left: auto;
}
.nav-form input[type='text']{
    padding: 5px;
    border-radius: 10px;
    margin-left: 0;
    
}
.nav-form form button{
    margin-left: 0;
    background: rgba(233, 188, 41, 0.377);
    color: white;
}
.container-main{
    margin-top: -50px;
    margin-bottom: 40px;
    background: #fffefe1a;
    box-shadow: 0 10px 12px -12px  #777;
}
.corousel-div{
    display: flex;
    height: 300px ;
}
.corousel-div .corousel{
    width: 70%;
}
.corousel-div .corousel img{
    width: 100%;
    height: 100%;
}
.corousel-div .hero{
    width: 30%;
    
}
.corousel-div .hero img{
    width: 100%;
    height: 100%;
}
.featured-div{
    display: flex;
    box-sizing: border-box;
}
.featured-div .featured-main{
    width: 70%;
    height: 200px;
    margin: 0 5px;
    box-sizing: border-box;
}
.featured-div .featured-aside{
    width: 30%;
    width: 200ppx;
    box-sizing: border-box;
}
.tiles{
    display: flex;
}
.tiles-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tiles-aside{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tiles img{
    width: 30%;
    height: 30%;
}
.container-footer{
    padding: 20px;
    text-align: center;
}
.container-footer div{
    margin-bottom: 20px;
}
.container-footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container-footer ul li{
    padding: 10px 10px;
}
.container-footer ul li a{
    color: black;
    text-decoration: none;
}

